<div class="task-container">
  <h2>Tasks</h2>

  <!-- Form to Add a New Task -->
  <button mat-raised-button color="primary" (click)="openTaskDialog()">Add Task</button>



  <!-- List of Tasks -->
  <div class="task-list">
    <div class="priority-group">
      <h3>Low Priority</h3>
      <div class="task-column">
        <div *ngFor="let task of tasks" class="task-item" [ngClass]="{'priority-low': task.priority === 'LOW', 'completed-task': task.completed}" [hidden]="task.priority !== 'LOW'">
          <div class="task-content">
            <h3>{{ task.title }}</h3>
            <p class="description">{{ task.description }}</p>
            <p class="deadline"><mat-icon class="icon">calendar_month</mat-icon>{{ task.deadline | date:'mediumDate' }}</p>
            <span class="category">{{ task.category | titlecase }}</span>
          </div>
          <div class="task-actions">
            <button mat-icon-button color="primary" (click)="markTaskAsCompleted(task.id)" *ngIf="!task.completed">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="priority-group">
      <h3>Medium Priority</h3>
      <div class="task-column">
        <div *ngFor="let task of tasks" class="task-item" [ngClass]="{'priority-medium': task.priority === 'MEDIUM', 'completed-task': task.completed}" [hidden]="task.priority !== 'MEDIUM'">
          <div class="task-content">
            <h3>{{ task.title }}</h3>
            <p class="description">{{ task.description }}</p>
            <p class="deadline"><mat-icon class="icon">calendar_month</mat-icon>{{ task.deadline | date:'mediumDate' }}</p>
            <span class="category">{{ task.category | titlecase }}</span>
          </div>
          <div class="task-actions">
            <button mat-icon-button color="primary" (click)="markTaskAsCompleted(task.id)" *ngIf="!task.completed">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="priority-group">
      <h3>High Priority</h3>
      <div class="task-column">
        <div *ngFor="let task of tasks" class="task-item" [ngClass]="{'priority-high': task.priority === 'HIGH', 'completed-task': task.completed}" [hidden]="task.priority !== 'HIGH'">
          <div class="task-content">
            <h3>{{ task.title }}</h3>
            <p class="description">{{ task.description }}</p>
            <p class="deadline"><mat-icon class="icon">calendar_month</mat-icon>{{ task.deadline | date:'mediumDate' }}</p>
            <span class="category">{{ task.category | titlecase }}</span>
          </div>
          <div class="task-actions">
            <button mat-icon-button color="primary" (click)="markTaskAsCompleted(task.id)" *ngIf="!task.completed">
              <mat-icon>check</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
