/* task-dialog.component.css */
mat-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  button {
    margin-left: 8px; /* Space between buttons */
  }

h2 {
    margin-left: 20px;
    margin-top: 10px;
}
  